extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a Nodejs application based on ExpressJS Framework. It helps you build an MVC Architectured app. It explains connecting to MongoDB using NodeJS and CRUD operations. Currently, by default it supports:
    ul
      li ExpressJS
      li MongoDB
      li Jade
